[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "bundle/repmo"]
	path = bundle/repmo
	url = git://github.com/vim-scripts/repmo.vim.git
[submodule "bundle/FuzzyFinder"]
	path = bundle/FuzzyFinder
	url = https://github.com/vim-scripts/FuzzyFinder.git
[submodule "bundle/L9"]
	path = bundle/L9
	url = https://github.com/vim-scripts/L9.git
[submodule "bundle/taglist.vim"]
	path = bundle/taglist.vim
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/HTMLAutoCloseTag"]
	path = bundle/HTMLAutoCloseTag
	url = git://github.com/vim-scripts/HTML-AutoCloseTag.git
[submodule "bundle/vim-autoclose"]
	path = bundle/vim-autoclose
	url = git://github.com/Townk/vim-autoclose.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = git://github.com/msanders/snipmate.vim.git
[submodule "bundle/php-search-doc"]
	path = bundle/php-search-doc
	url = git://github.com/erikfercak/php-search-doc.git
